[2020-12-21 15:44] domanchi commented on #173
@thekbb : this is a great idea. Let's add it to the pre-commit hook in the v1 branch.

[2021-01-06 06:32] llicour opened #388 "Auditing (with report) an empty/clean baseline result to a ZeroDivisionError"
version 0.14.3
Steps to reproduce :
(from an clean-or-empty project)
[code]

[2021-01-06 21:21] domanchi commented on #388
This is fixed in the upcoming v1 branch.

[code]

Since all development effort is focused towards getting v1 out the door, I will close this as resolved, and recommend you upgrade your version when that is ready.

If you would like to be a part of the beta testing group, feel free to check out: https://github.com/Yelp/detect-secrets/tree/pre-v1-launch.

[2021-01-06 21:21] #388 closed

[2021-01-07 16:23] giuliogiaconi commented on #333
Has this issue been addressed in the end? I have the same problem and cannot get the audit window open. Thanks

[2021-01-09 00:04] domanchi commented on #333
Thanks @pablosantiagolopez for helping fix this bug! This fix will go out with the new version.

[2021-01-09 00:04] #333 closed

[2021-01-13 12:54] DariuszPorowski commented on #378
Got the solution:
`@* # pragma: allowlist secret *@`

Adding `#` before pragma works :)

[2021-01-13 12:54] #378 closed

[2021-01-28 15:23] pablosantiagolopez opened #399 "Arbitrary code execution vulnerability in PyYAML library"
An arbitrary code execution vulnerability is found in the versions before `5.4.0` of the PyYAML library. You can find more information about this in [CVE-2020-1747](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-1747). This vulnerability has a `9.8` CVSS score, so it should be fixed as soon as possible.

Currently, detect-secrets uses the version `5.3.1` of the PyYAML library ([requiremen

[2021-01-28 16:12] pablosantiagolopez opened #401 "Denial of Service in Py library"
A Denial of Service vulnerability is found in the versions before `1.10.0` of the py library. You can find more information about this in [CVE-2020-29651](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-29651). This vulnerability has a `7.5` CVSS score, so it should be fixed as soon as possible.

Currently, detect-secrets uses the version `1.9.0` of the py library ([requirements-dev.txt](h

[2021-01-28 16:33] domanchi commented on #399
Thanks for reporting this @pablosantiagolopez. `yaml.load` is an old issue that is known to cause RCEs, however, `detect-secrets` is not vulnerable to this as we don't use the vulnerable method.

https://github.com/Yelp/detect-secrets/blob/pre-v1-launch/detect_secrets/transformers/yaml.py#L145

[2021-01-28 16:33] #399 closed

[2021-01-28 19:03] rafaelsilvaa10 opened #403 "Ignore multiple files Scan"
Hello, I nedd to help in my scan.

In my scan it is accusing two vulnerabilities found:

[code]

[code]

How can I do to ignore these two files, because they are false positives ?

I can ignore 1 file, however two files did not work.

I tried to run passing the exclude files.

`
detect-secrets scan  . --exclude-files='public/index.html, package-lock.json'`

Has anyone managed to make multiple file

[2021-01-28 19:40] domanchi commented on #403
@rafaelsilvaa10, the `--exclude-files` flag requires a regex. See its [documentation](https://github.com/Yelp/detect-secrets/blob/pre-v1-launch/README.md#--exclude-files) for more details. You can also use https://regexr.com/ to ensure that your constructed regex meets your requirements.

From your invocation command, it looks like the files aren't matching the regex you specified.

[2021-01-28 19:40] #403 closed

[2021-02-03 12:22] match-dennismntgns opened #404 "Hardcoded PHP passwords not found"
I did some tests and a number of passwords (e.g. in an array or constant) were not found in a php file:

Array example:

[code]

Constants:

[code]

I've used the following command: `detect-secrets scan > .secrets.baseline`

[2021-02-03 12:23] domanchi commented on #404
@BlueCanary-DM , what version of `detect-secrets` are you running? Have you tried using `detect-secrets scan --string` to see what the individual plugins report?

[2021-02-03 13:24] BlueCanary-DM commented on #404
I'm running version 0.13.1 as I had the issue described here:
https://github.com/Yelp/detect-secrets-server/issues/62

[2021-02-17 22:25] sfc-gh-nsfard opened #406 "Security Slack Channel should be a parameter"
one of the mitigation suggestions that are printed when detect-secrets fails a scan states:

[code]

This is a bit confusing for developers since we don't have a #security channel and we wouldn't use that channel for this type of question anyway. I think this should be a custom value that's handled as a commandline parameter (or via a config file or an environment variable)

I notice it's currentl

[2021-02-17 22:27] domanchi commented on #406
Pull requests welcome.

[2021-02-25 06:31] michael-anselmi opened #407 "detect-secrets 1.0.0 pre-commit hook broken"
Hi, and congrats on releasing version 1.0.0 of detect-secrets!  I feel bad filing the first bug report against this new version, but the pre-commit hook / `setup.py` is broken.  I'm using pre-commit version 2.10.1, the latest version.

To reproduce:

1. Have a `.pre-commit-config.yaml` file like this:

[code]

2. Run `pre-commit run --all-files`.

3. Observe output like this:

[code]

There is a c

[2021-02-25 06:37] michael-anselmi commented on #407
You may notice in the example above that I was not using the PyPI index, but the issue still occurs when installing from PyPI.

[2021-02-25 11:22] cbows commented on #407
I have made a PR that should fix the problem. I avoid importing the module by just parsing the text in `__version__.py` directly. It's not very robust currently (you could use a regex if you like). but I think using something like [setuptools_scm](https://github.com/pypa/setuptools_scm) is a cleaner solution anyway.

[2021-02-25 14:42] #407 closed

[2021-02-25 15:32] domanchi commented on #407
I tested this with the patch, and it seems to work now.

[code]

Will deploy to public PyPI. Thanks for reporting this so quickly!

[2021-02-25 15:35] AIGeneratedUsername commented on #407
[code]

Well... Now it is broken again.

[2021-02-25 15:37] domanchi commented on #407
@AIGeneratedUsername : can you provide reproduction steps? It looks like you're updating to the broken version.

[2021-02-25 15:55] AIGeneratedUsername commented on #407
The issue is that `pre-commit autoupdate` updated the version to the "1.0.0" (instead of 1.0.1").

Yep, you are correct. Now it works. I set the version manually in the ".pre-commit-config.yaml" file:
[code]

Thank you for your response.

[2021-02-26 10:38] ferdose opened #411 "detect-secret-hooks failing with latest version upgrade"
[code]

[2021-02-26 15:27] domanchi commented on #411
Uh, are you running two different versions of `detect-secrets`? This stack trace is bizarre, since it starts off as the latest version, then it gets to the dynamic import line ([source](https://github.com/Yelp/detect-secrets/blob/master/detect_secrets/util/importlib.py#L24)), and it suddenly tries to use old code: https://github.com/Yelp/detect-secrets/blob/v0.14.3/detect_secrets/plugins/common/in

[2021-02-26 22:53] sfc-gh-nsfard commented on #406
@domanchi PR here: https://github.com/Yelp/detect-secrets/pull/413

[2021-03-03 16:19] BlueCanary-DM commented on #406
You can also trigger a slackbot via email.

[2021-03-03 18:50] bbberard opened #415 "Importing `detect-secrets` deletes existing logging handles"
I'm attempting to upgrade from `detect-secrets` 0.14.3 to 1.0.3, but I'm encountering a new error in the handling of the Python logger. I have code that uses the style `logging.info()` for logging, which worked fine in 0.14.3, but does not in 1.0.3.

Since this is an import-related behavior, it's really hard to fix.

## Previous Behavior
[code]

## Current Behavior

[code]

## Attempt # 1

The fir

[2021-03-04 17:09] domanchi commented on #415
How curious. The only changes I made to `detect_secrets.core.log` during the upgrade is to add type hints. I agree that our logging infrastructure should be fixed (this is a great case, thanks for the examples), but I actually don't know of any good Python logging patterns for packages.

Pull requests welcome, or any good patterns you've observed in the wild.

[2021-03-09 12:12] pablosantiagolopez opened #421 "Bug auditing test_data/config.yaml with binary values"
We found the following bug scanning detect-secrets project when the file `test_data/config.yaml` is audited:

![bug_audit](https://user-images.githubusercontent.com/69458381/110467963-ef892a80-80d7-11eb-863f-55fa65e74f41.png)

We tried to solve this bug in #414, and we get it in the most cases, but this file includes the following line: `low_entropy_binary_secret: !!binary MjNjcnh1IDJieXJpdXYyeXJp

[2021-03-09 18:11] domanchi commented on #421
Hmm. I'm unable to reproduce this. Can you provide a minimal YAML file that causes this issue on `master`?

Cases I've tried:
- `low_entropy_binary_string` in YAML file by itself
- `low_entropy_binary_string` in YAML file, preceded by a new line
- `low_entropy_binary_string` in YAML file, preceded by an arbitrary key pair
- `low_entropy_binary_string` in YAML file, preceded by a secret
- `low_entr

[2021-03-09 18:14] pablosantiagolopez commented on #421
Yes of course, the YAML file that causes this issue is [this](https://github.com/Yelp/detect-secrets/blob/master/test_data/config.yaml). Can you reproduce this?

[2021-03-09 18:41] domanchi commented on #421
Oh goodie. This means we have good test cases. But the fact we didn't catch it in our test cases means we're missing something lol.

I was able to reproduce with this file. I'll check it out.

[2021-03-09 18:50] pablosantiagolopez commented on #421
Thank you very much @domanchi !!

[2021-03-11 13:41] rafaelsilvaa10 opened #426 "False Positives Scan"
Hello, i am using the detect-secrets in my cicd.

I use the command on the repo folder:
`"detect-secrets scan . "`

and it works, but it contains some false positives, for example:

[code]

in that line of the file, it contains :
[code]

I believe he found the word "**password**" and alarmed.

How do you solve this kind of thing?
I understand that it is to alarm, however there are some cases but i

[2021-03-11 14:55] domanchi commented on #426
@rafaelsilvaa10 , you can use [custom filters](https://github.com/Yelp/detect-secrets/blob/master/docs/filters.md#using-your-own-filters) to handle cases like this.

Alternatively, when the next version comes out, you can try using the [gibberish detector](https://github.com/Yelp/detect-secrets#gibberish-detector) -- an ML based solution that attempts to ignore secrets that aren't gibberish (i.e.

[2021-03-11 14:55] #426 closed

[2021-03-11 14:58] rafaelsilvaa10 commented on #426
Great, thank for reply.

Its works for me using regex in ignore-lines parameter.

[2021-03-11 15:07] domanchi commented on #426
That certainly one way to do it. In our experience, regex based whitelists are good -- until they become unwieldy, making you wish you had a programmatic method to tune your filters. If that situation happens to you, you can be assured that `detect-secrets` has that built-in feature to support that use case.

[2021-03-11 15:25] domanchi commented on #406
From the linked PR, it looks like this functionality is already supported. i.e. you can do

[code]

which will result in:

[code]

[2021-03-11 15:25] #406 closed

[2021-03-11 17:49] #421 closed

[2021-03-15 10:51] pablosantiagolopez commented on #401
This issue has been solved and merged in #402, so I close it.

[2021-03-15 10:51] #401 closed

[2021-03-18 14:28] rafaelsilvaa10 opened #433 "How to set timeout in my scanner?"
hello,

I'm having problems scanning a repository, it's taking too long.

`detect-secrets scan . --exclude-lines .*: parameterSecurity:/.* --exclude-lines .*: parameter:/.* --exclude-files=package-lock.json`

there are scans that are taking 10hrs another 1min ... is it due to the regexp?

However is there any parameter --timeout in the cli?

thanks

[2021-03-18 15:31] domanchi commented on #433
What version are you running?

[2021-03-18 16:04] rafaelsilvaa10 commented on #433
1.0.3

[2021-03-18 16:10] domanchi commented on #433
Probably the best way to debug whether it's a specific file is by doing chunks at a time, and enabling debug logs with `-vv`. I know there's a performance issue on `master`, but fixes are ready to be merged, and will go out in the next minor version bump.

If you're not running on `master`, do let us know if you find the performance issue, and we may be able to improve it for others.

[2021-03-22 12:10] ExplodingCabbage opened #435 "[bug] `pragma: allowlist nextline secret` isn't always respected"
After a few experiments, I haven't been able to figure out the logic governing when it does and doesn't work.

Here's an example where the pragma does work:

[code]

Here's an example where it doesn't:

[code]

detect-secrets will return no results for the first file but report a high entropy hex string in the second, disregarding the pragma.

The normal `allowlist secret` pragma seems to work in

[2021-03-22 13:52] ExplodingCabbage opened #436 "[enhancement] Allow setting DETECT_SECRETS_SECURITY_TEAM via a command-line argument"
In https://github.com/Yelp/detect-secrets/pull/283, @0atman added the DETECT_SECRETS_SECURITY_TEAM environment variable. Trouble is, it's hard to set environment variables via `pre-commit` (and `pre-commit` is one of the officially suggested ways of running `detect-secrets`, per the README). As far as I've been able to find, `pre-commit` has no support at all for configuring environment variables

[2021-03-22 14:13] 0atman commented on #436
Yeah, we were wrapping pre-commit in our own python script, setting the env there. We've since stopped using our custom wrapper  and gone back to vanilla pre-commit, so we'd have the same annoyances as you have outlined.

[2021-03-24 15:20] holyjak opened #437 "Do not report git SHAs as secrets"
Hello! Thank you for this great tool!

I have a few files that refer to git SHAs and detect-secrets complains about these:

[code]

where the source file contains

[code]

I guess, give how common git and referring to concrete git hashes it, they should either be recognized as non-secrets or there should be a simple way to ignore them.

[2021-03-24 15:25] domanchi commented on #437
@holyjak, the issue about SHAs is that real secrets can also be SHAs. As such, `detect-secrets` does not ignore them by default; rather, it provides functionality that you can use to easily customize your own filters.

Check out https://github.com/Yelp/detect-secrets/blob/master/docs/filters.md#using-your-own-filters for more details.

[2021-03-24 15:25] #437 closed

[2021-03-24 16:09] holyjak commented on #437
Thanks a lot, @domanchi ! That makes perfect sense.

Could you be so very kind and tell me why this does not work:

[code]

even when I run `detect-secrets scan --filter ./.detect-secrets-filter-git-sha.py::not_deps_git_sha .clojure/deps.edn` the same git sha are reported as secrets. My filter is in the list of filters used but I never see the output of its `print` so it seems not to be invoked?

[2021-03-24 16:11] domanchi commented on #437
What does running `detect-secrets` in debug mode (`-vv`) give you?

[2021-03-24 16:37] holyjak commented on #437
Nothing, really, just a single extra line, `[scan]	INFO	Checking file: .clojure/deps.edn`

[2021-03-26 11:57] holyjak commented on #437
🙏 @domanchi have you any more tips how to troubleshoot this and get the filter working?

[2021-03-26 16:33] domanchi commented on #437
Filters need to return `True` if the secret should be skipped. I think you have your boolean logic inverted.

[2021-03-27 10:07] holyjak commented on #437
Thank you but that did not help. And the `print` in my filter fn is not printing (at least not to stdout) so it does not seem to be called at all. Are there some filter troubleshooting guidelines? Why would my filter not be called?

[2021-03-27 14:20] domanchi commented on #437
I can't help you much, because I was unable to reproduce this on my machine.

[code]

Also note that the custom filter is added to the generated baseline.

[2021-03-27 20:42] holyjak commented on #437
Thanks a lot, @domanchi! I had a `print` call before the r`return` in my function and it somehow made it non functional. After removing the line it work as intended.

[2021-03-27 20:45] holyjak commented on #437
(I was also confused by the argument name `filename`, which turned out to be actually a file path so my check for `==` did not work.)

[2021-03-27 20:49] holyjak commented on #435
I have a similar problem where none of the two variants work. With the nextline:

[code]

[2021-03-29 13:56] nathankooij commented on #374
@domanchi we've also hit several `.yaml` files that cause the secrets scanner to crash using `v1.0.3` (see below for the traceback). Although it does not seem to be related to ending with a blank line (adding or removing it makes no difference), it does seem related to your analysis above. I was wondering would it be helpful if I provided some of these files (after I strip it of some specific) for

[2021-03-29 15:06] nathankooij opened #439 "[bug] Secrets in multiline scalar values in YAML files not (always?) detected"
Given a YAML file like:
[code]

`detect-secrets -v scan --all-files` will find the 3rd secret, but not the 1st or 2nd. All three when checked in isolation are detected by the `HexHighEntropyString`:
[code]

Renaming the file to e.g. `.json` or `.txt` will cause the (quoted) secrets to be picked up again. So it seems to be related to multiline scalar values parsing of YAML files.

Version used:
[co

[2021-03-29 16:33] domanchi commented on #439
@nathankooij, what an interesting edge case. I'm curious: how do you use this YAML file in the wild?

This is partially "as designed", but also partially the `YAMLTransformer`'s issue: however, I'm not sure of a good way to address this, as this is a "known" issue with multi-line scalars.

[code]

From the above snippet, we can see that multi-line scalars are processed as a single line (which is e

[2021-03-30 08:20] nathankooij commented on #439
Thanks for getting back to me @domanchi.

This is a construed example where I used 3 keys to demonstrate which ones are picked up and which aren't. But in reality we do have a field (let's call it `config`) with a literal block scalar containing essentially an inlined YAML file. This becomes input for a Helm chart using Helmfiles. In the chart we map this inlined YAML file (the `config` scalar) to

[2021-03-30 13:04] nathankooij commented on #439
Okay, after playing it around with a bit I now see why the secret is not picked up by a regular scan, but is picked up by string scanning. Since the `YamlTransformer` escapes quotes, and `HexHighEntropyString` looks for quotes, it fails to find the inlined secret. The string scanner takes a different path, not expecting quotes in the first place.

That makes me wonder even if we were to return spl

[2021-03-30 14:22] nathankooij commented on #439
So I was thinking something like this for parsing literal blocks:
[code]
Essentially when we encounter a literal block, we return the lines separated as indicated by new lines in the literal block. In this case I also "injected" the comment into each line s.t. plugins can pickup on this. Still not sure what to do about escaping quotes, and perhaps we should do something similar for folded blocks w

[2021-03-30 20:55] domanchi commented on #439
I was running your example on the `master` branch, and it looks like the `KeywordDetector` was able to pick this up, on the basis of the key `key:`. I wonder whether this will be sufficient for your needs?

Your overall approach seems sane -- manually splitting lines is the probably the only solution we can explore, if we want to preserve line numbers. I also agree with your quotation concerns, th

[2021-03-31 17:00] #209 closed

[2021-04-02 21:22] jeff-cook opened #443 "Docker digests are found as a secret"
Finding a number of false positives with Docker image digest hashes.

How to configure to avoid this issue?

[code]

[2021-04-07 13:32] nathankooij commented on #439
Ah, I think that change to `KeywordDetector` might be sufficient enough. I'll have to try again once v1.0.4 is out to see if this will work better for us.

In the worst case I think a custom plugin could do the trick. The idea of rescanning is also interesting, but I'm a bit worried about performance in that case. Between v0.14.3 and v1.0.x we did notice a significant bump in run time (I believe y

[2021-04-08 14:30] domanchi commented on #374
Yes, please do. I've hit some of these myself, but have been unable to reproduce them on the `master` branch (despite no relevant changes to this processing logic). My hypothesis is that it may have something to do with the PyYAML version. What version are you running with?

[2021-04-15 13:10] nathankooij commented on #374
Sorry for the late reply. I'm using PyYAML 5.4.1. The following test cases are made using 1.1.0.

We used a slightly modified version of a default Verdaccio configuration file [here](https://verdaccio.org/docs/en/configuration.html), but the default one as presented there also fails on my machine with:
[code]

Another one that fails similarly is:
[code]

I had another but that seems to be fixed as

[2021-04-15 22:48] s1mrankaur opened #451 "path: str SyntaxError: invalid syntax error on windows"
Attached error message below

[code]

[2021-04-16 00:23] aristotelesneto opened #452 "detect-secrets v1.1.0 fails to load any plugins on py38"
For some reason on my MacOS (Big Sur, pyenv, python 3.8.8 / 3.9.4) detect-secrets 1.1.0 fails to detect any secret, whereas 1.0.3 seems to work fine.

When using detect-secrets scan with 1.1.0 it returns:
[code]

If I switch to Python 3.7.9 (or revert back to 1.0.3) it seems to work correctly.

[code]

[2021-04-16 03:02] domanchi commented on #451
You're using python2.7. `detect-secrets` dropped python2.7 support a while ago.

[2021-04-16 03:02] #451 closed

[2021-04-16 03:33] domanchi commented on #452
Super interesting problem.

I took a quick look, and it turns out that the issue is with the changes that Python3.8 introduced to the `multiprocessing` library. I hypothesize that Python3.8 doesn't share memory between processors by default, which means that the global settings object becomes inaccessible across processors: https://github.com/Yelp/detect-secrets/blob/master/detect_secrets/core/sec

[2021-04-16 03:35] domanchi commented on #443
Try writing your own filter: https://github.com/Yelp/detect-secrets/blob/master/docs/filters.md#writing-your-own-filter

[2021-04-16 03:35] #443 closed

[2021-04-16 08:38] aristotelesneto commented on #452
I can confirm running on v1.1 works correctly on python 3.7.9. Interestingly, on an Azure DevOps pipeline running Python 3.8 (ubuntu-latest [20.04] agent, ms hosted) detect-secrets v1.1 correctly finds secrets (but because we couldn't baseline it, it meant it was failing our build). Is there some more data you'd like me to capture myself to be able address this issue or were you able to reproduce?

[2021-04-16 13:54] domanchi commented on #452
Weeird.

I was able to reproduce this on MacOS Catalina, pyenv, 3.8.5. And if my hypothesis is correct, you won't encounter this issue if you try scanning **one** file, since I wrote a bypass for that case: https://github.com/Yelp/detect-secrets/blob/master/detect_secrets/core/secrets_collection.py#L51-L53.

Could you verify that?

[2021-04-16 22:19] s1mrankaur commented on #452
getting the same issue on windows 10

[2021-04-16 22:36] s1mrankaur opened #453 "How to exclude the test files from being reporter"
[code]
I added the following line to my baseline.secrets file hoping that "*.test.js" should cover it:

`  "exclude": { "files": ".trufflehog/rules.json|*.test.js|.env.*|.env|^.secrets.baseline$", "lines": null }
`

but it does not seem to be working

[2021-04-16 22:47] s1mrankaur opened #454 "ERROR: No plugins to scan with"
This is what my .secrets.baseline looks like:
[code]

It excludes files with patterns:
[code]
Now, when I run

`detect-secrets scan`, I get the following result:
[code]

[2021-04-17 00:46] domanchi commented on #454
Possible duplicate of #452 .

[2021-04-17 00:46] #454 closed

[2021-04-19 14:13] jjneely commented on #435
This bug makes this project almost unusable.  There are many text file formats where one cannot add an inline pragma -- the pragma must be on a separate line.

[2021-04-20 00:42] YustinS commented on #452
To add to this, can confirm the same behavior on Windows 10 using Python 3.7.9.
![image](https://user-images.githubusercontent.com/9688705/115320323-c5964e00-a1d5-11eb-9e20-d328a68b6150.png)

As mentioned above scanning an individual file completes successfully and returns good results, as well as downgrading to version 1.0.3 doesn't have the issue

[2021-04-21 19:13] hramadoss commented on #272
[code]
Getting the same error. I checked the default encoding it is set to UTF-8.
[code]
This is on v1.1.0 running Python 3.7.9

[2021-04-23 08:51] dbslayer commented on #374
@domanchi , i also face the same issue. Is there any ETA when this fix will be released?

[2021-04-27 20:58] acdha opened #456 "Spurious “Nothing to audit!” in v1.1.0"
I ran into an interesting failure with v1.1.0. I've already had to back that update out due to #452 but it looks like it also fails to handle auditing an existing secrets baseline file.  I was using the pre-commit hook with v1.1.0 and it'd fail like this:

[code]

Looking at the baseline file would show a number of entries like this:

[code]

But if I ran `audit` to review them, it would insist th

[2021-04-30 15:26] rpetti opened #457 "allow scanning of arbitrary folders"
It's not clear from the docs, but the tool does not work unless it's on a git repo. Is there any way to allow the scanning of arbitrary files/folders so other SCM tools can be used?

[2021-04-30 15:56] syn-4ck commented on #457
Hi, you can use --all-files to scan a directory/not-git repository.

`detect-secrets scan [DIR] --all-files > .secrets.baseline`

I hope this can help you.

[2021-04-30 16:04] syn-4ck commented on #453
Hi,
Please, check this: https://github.com/Yelp/detect-secrets#--exclude-files
With this option you can filter all files that you want with a regex. You can define multiple --exclude-files for avoid to make complex regex.

[2021-05-12 15:06] DenysVuika commented on #452
Spent lot of time on this issue before coming across this ticket... downgrading to 1.0.3. works for me

[2021-05-19 18:28] dudicoco opened #458 "Most secrets are not detected"
I'm running `detect-secrets` on the following file (these are fake values):
[code]

When running with the `KeywordDetector` plugin disabled, only the `SLACK_API_KEY` value is detected, and not even by the slack plugin:
[code]

What should be configured in order for these secrets to be detected?
Why are the slack secrets not detected by the slack plugin?

Thanks

[2021-05-20 12:00] ZobairQ commented on #374
I am having the same problem.. any fix on the way?

[2021-05-30 18:40] shadawck commented on #452
It happens to me programmatically with the pypi package.
When using solely `scan_file()` like below I get  `"[scan] ERROR No plugins to scan with!"` :
[code]

But when using with default_settings() everything works fine :
[code]

`default setting()` enables all filters and plugins by default. So I can suggest to enable all plugins on the command line:
[code]

PS: I have not tested the cli solution

[2021-06-04 19:39] asdrubalos opened #460 "Secret not detected for versions 0.14.3 ... 1.1.0 SENDGRID_API_KEY"
Secret not detected for versions 0.14.3 ... 1.1.0
I'm running detect-secrets on the following file "daemondset.yaml" and not detected secret in the line 24.
this secret represent the API KEY of SENDGRID

I'm using the command:
[code]
I'm getting "results": {}

**How to detect the secret ?**
this secret:
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

daemondset.yaml
[code]

[2021-06-08 12:21] toniblyx commented on #458
Same here happening with release.

[2021-06-09 11:57] peterlai-roboops opened #461 "How to ignore passwords in json?"
Hi

How do you ignore a line in JSON?
We don't want to ignore the whole file, as we want to get flagged when someone adds a new Password to the file, so it'll be good if we want ignore each line individually,

[2021-06-14 07:49] ninoseki opened #462 "[Feature request] Plugin for SendGrid API keys"
SendGrid API key has a unique format. Thus it can be detected through regex.

- API key format: `SG\.[a-zA-Z0-9_-]{22}\.[a-zA-Z0-9_-]{43}'`
  - e.g. `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`
  - ref. https://d2w67tjf43xwdp.cloudfront.net/Classroom/Basics/API/what_is_my_api_key.html

[2021-06-14 08:52] ninoseki opened #464 "[Feature request] Add a plugin for GitHub API tokens"
GitHub API tokens has a unique format. So it can be detected through regex.
- API key format: `(ghp|gho|ghu|ghs|ghr)_[A-Za-z0-9_]{36}`
  - e.g. `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`
  - ref. https://github.blog/2021-04-05-behind-githubs-new-authentication-token-formats/

[2021-06-22 10:23] ryan-lane opened #466 "Add a homebrew formula to homebrew core"
It would be nice to be able to install detect-secrets from brew, to make it easier to install as a tool for developers, rather than needing to use pip (as then it's necessary to deal with virtualenvs and such to avoid polluting the user's python).

I made a quick formula for 1.0.3 (I didn't use the latest release, since with later versions of python, detect-secrets is currently not working):

[cod

[2021-06-24 08:57] Smuu opened #467 "ValueError: substring not found"
I get the error below when running the audit on my baseline.

Command:
`detect-secrets audit --json .secrets.baseline`

Error Message:
[code]

Additional Information:
[code]

Corresponding part of the file:
[code]

It seems that the tool can't handle such syntax in yaml files.

[2021-06-27 17:10] chenrui333 commented on #466
@ryan-lane now you can install with `brew install detect-secrets` 🎉

[2021-06-28 02:07] ryan-lane commented on #466
@chenrui333 It's awesome that it's been added to homebrew upstream, but I think it won't work after install, since the version of python shipped with homebrew is 3.9, and [detect-secrets is broken with that version](https://github.com/Yelp/detect-secrets/issues/452).

[2021-06-28 04:12] chenrui333 commented on #466
interesting, would you mind filing a patch PR of making it to build with `python@3.8` or you think that we should wait for that bug gets fixed before moving forward?

[2021-06-28 10:02] ryan-lane commented on #466
I think we should change the version in homebrew to be 1.0.3, until that
bug is fixed.

On Mon, Jun 28, 2021 at 1:12 PM rui ***@***.***> wrote:

[2021-06-28 12:51] brianbrownton commented on #466
Just installed this via home brew and can confirm it is broken upon install
[code]

[2021-07-07 10:42] dmivankov commented on #458
0.14.3 detects some of them by `keyword` plugin
[code]
seems that 1.x got weaker by default for api-keys & passwords case

[2021-07-07 16:23] edthedev commented on #452
Same problem on Windows.

[code]

[2021-07-27 02:44] js-truework opened #471 "PotentialSecret failure with slim baseline + pre-commit hook"
## Summary
Hello,

I've tried to find examples of this issue in the repository before but did not [find any useful hits](https://github.com/Yelp/detect-secrets/issues?q=PotentialSecret+line_number). This issue has been plaguing my team the last month or so. We were originally using a full secrets baseline, but the line number tracking resulted in a lot of activity, and that lot of activity resulte

[2021-07-28 14:27] gpflaum opened #473 "What's the future of detect-secrets?"
@domanchi and @KevinHock left Yelp in April. Is anyone at Yelp taking over leadership of this project?

@killuazhu Is IBM's fork at https://github.com/IBM/detect-secrets suitable for people to use, or is it too customized for use at IBM?

[2021-07-28 14:28] gpflaum commented on #471
@js-truework See #473.

[2021-07-28 15:53] gpflaum commented on #473
Looks like IBM's fork hasn't pulled in the big changes from the [v1.1.0](https://github.com/Yelp/detect-secrets/releases/tag/v1.1.0) release.

[2021-07-28 15:55] justineyster commented on #473
@gpflaum Hey! We should definitely pair on this. We are definitely still maintaining the project within IBM. Our process for pulling in upstream changes has gotten pretty hefty, thus why we haven't done it lately, but we're planning to revisit/revise that process soon.

[2021-07-28 15:57] justineyster commented on #473
Our fork should be suitable for anyone to use.

[2021-07-28 16:02] rossgrady commented on #473
We definitely have work in plan for the 2nd half of the year to pull in the big changes, but as Justin said, they're big changes :)

The rebase is gonna **hurt** for a minute or three but we still plan to attack it.

[2021-07-28 16:06] gpflaum commented on #473
@justineyster @rossgrady Thanks for the response. I'm not currently using detect-secrets, but did some work with it several months ago and was going to resume using it soon, but noticed domanchi had left. I can't contribute much to development of detect-secrets but can probably help with testing. We'll see if there's any reply from Yelp, but IBM might be the most actively maintained fork.

[2021-07-28 16:46] domanchi commented on #473
@gpflaum : unfortunately, having left the company, I no longer have merge access and therefore, it would be redundant for me to review incoming PRs. During the last couple of months at Yelp, the team was struggling with bandwidth (with me being a sole maintainer of this), so I'm not surprised that this library fell through the cracks with my departure.

@rossgrady : I definitely agree the rebase w

[2021-07-28 17:11] KevinHock commented on #473
Hi @domanchi , I still have merge access, super happy to merge any PRs you approve. 👍🏼

I'll go through the open PRs and see what I can review as well, I don't have much bandwidth to fix issues however, unfortunately.

[2021-07-28 18:00] domanchi commented on #473
@KevinHock : while I appreciate the offer, I still think it's a pretty flimsy band-aid fix. I think we've attempted to do this during the great refactor for launching v1, and that didn't turn out so well.

Let me try to poke Yelp for a response on this through out-of-band channels.

[2021-07-28 19:22] KevinHock commented on #473
I agree, thanks @domanchi!

(An aside for this thread, Pinterest uses detect-secrets, but I don't do AppSec anymore so I have less work related reasons to maintain/contribute unfortunately.)

[2021-07-28 19:26] justineyster commented on #473
Update from the IBM side. I'm going to explore rebasing our fork to pick up the v1.1.0 changes tomorrow. 🙂

[2021-07-29 22:51] justineyster commented on #473
After exploring this today, I've come to realize that the two forks have diverged too much over the past year for our [old rebase process](https://github.com/IBM/detect-secrets/blob/master/update.md#how-do-we-keep-update-to-date-with-upstream) to be even remotely feasible. We're going to switch gears towards individually cherry-picking new features from this fork into our own.

[2021-08-01 17:42] #471 closed

[2021-08-01 18:24] KevinHock opened #475 "Set up CI/CD on PRs"
I just noticed Travis CI isn't running on PRs anymore. So if nothing else, this issue should serve as a reminder for whoever is merging PRs to run tests locally.

[2021-08-05 12:11] uklft commented on #467
Same here for a huge nested single-line json file (valid, though):

[code]

[2021-08-07 05:51] #464 closed

[2021-08-07 05:51] #462 closed

[2021-08-19 00:40] js-truework opened #479 "PotentialSecret line_number part 2"
A follow up to  https://github.com/Yelp/detect-secrets/issues/471, I am still getting issues around PotentialSecret objects. Looks like the previous traceback was obscuring the underlying problem.

[code]

[2021-08-19 03:28] PatrickWong-China opened #480 "Can't detect secret in comment line without single/double quote"
I'm running detect-secrets on .tsx file and  secret cannot be detected in comment line if secret without single/double quote

![image](https://user-images.githubusercontent.com/6780926/130002520-67a73f0b-a68b-4630-9c38-16c3d6047a6b.png)

[code]

If add single/double quote , it works as expectations

![image](https://user-images.githubusercontent.com/6780926/130002705-952c7772-12fc-40c9-924e-00cea3

[2021-08-28 00:59] gpflaum commented on #452
@domanchi wrote:

Verified. Scanning a folder with `python -m detect_secrets scan test_data` with Python 3.8 gets the "No plugins to scan with!" error, while scanning a single file with `python -m detect_secrets scan test_data/config.ini` works.

[2021-08-28 01:00] gpflaum commented on #452
@shadawck suggested trying `--force-use-all-plugins`. That didn't work, still get the "No plugins to scan with!" error.

[2021-09-02 09:04] crazywifi opened #481 "How to filter many filter methods from a file?"
Hi, Your tool is great,

Just curious to know how it is possible to filter many methods from a custom_filter.py file?

I have created a custom_filter.py file in which I have given 10 methods for the filter but as per the command we have to mention the method name so what we can do so that the complete custom_filter file will work?

detect-secrets scan --filter custom_filter.py::**is_invalid_secret

[2021-09-18 21:46] christianbundy opened #483 "Release v1.2.0"
Hi there. I'd love to deploy the ~18 commits that have ben made since April. Is there anything I can do to help get v1.2.0 released?

[2021-09-23 10:35] XJDwakng opened #484 ""--exclude-files" Only the last one is valid"

[2021-10-07 09:37] agemooij commented on #452
Same here using v1.1.0 installed through homebrew on MacOS with `python3 --version` at `3.9.7`.
Scanning the individual file was successful while all other run modes I tried fail.

[2021-10-26 09:14] jfagoagas opened #487 "[BUG] detect-secrets did not find alone plaintext secrets"
**Describe the bug**
During an AWS audit I have realized that `detect-secrets` did not find any alone plaintext secrets.

The following values are fake but valid service's usernames, passwords and ports configured as AWS Lambda environment variables:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `aws lambda --region <region> get-function-configuration --function-name <lamda-function

[2021-10-28 15:49] DariuszPorowski opened #488 "SARIF file support"
It will be nice to have SARIF file support as the output of the scan.
I do not mean changing the current JSON output generated but adding a flag that would also create a serif file with results.

SARIF is an [OASIS Standard](https://docs.oasis-open.org/sarif/sarif/v2.1.0/sarif-v2.1.0.html) and is good to display results from static analysis tools. For example, GitHub uses it: [SARIF support for co

[2021-11-09 15:32] fproulx-boostsecurity opened #489 "is_likely_id_string filter creates false negatives"
This filter will eliminate true positives by mistake
https://github.com/Yelp/detect-secrets/blob/b206dc29f274839ebd3c522fed19448c9b8f3f70/detect_secrets/filters/heuristic.py#L71

The following line in a scanned file:
[code]

Some snippet to test:
[code]

[2021-11-10 14:16] christophetd opened #490 "Detect AWS temporary credentials"
Hello!

The [AWS access key](https://github.com/Yelp/detect-secrets/blob/master/detect_secrets/plugins/aws.py) currently only detects static credentials of IAM users.

It would be relevant to also detect AWS STS temporary credentials:
* The access key ID matches `ASIA[0-9A-Z]{16}`
* The secret key matches the same format as for static credentials
* The session token

Thoughts? Interested by a PR?

[2021-11-10 14:18] christophetd commented on #490
Moved to https://github.com/IBM/detect-secrets/issues/34

[2021-11-10 14:18] #490 closed

[2021-11-10 19:59] vrokida opened #491 "Error installing gibberish-detector"
Hello !

We are not able to install Gibberish Detector.

We try
`
pip install detect-secrets[gibberish]
`
and we get
`
no matches found: detect-secrets[gibberish]
`

We are using  detect-secrets version 1.1.0 .
We tried also installing gibberish-detector and then ` pip install detect-secrets[gibberish]` but I got same results.

We appreciate any help

[2021-11-17 01:36] OuyangBo717 opened #492 "How to ignore executables and link libraries when detect"
Hi all,
I am using detect secrets to scan the environment when the program is running, rather than the source code of the program. In order to improve the scanning speed, I don't want to scan the binary executable of the program. How can I set it?

best regards

[2021-11-17 08:39] OuyangBo717 commented on #480
I also have the same problem, my version of detect-secrets is 1.1.0

[2021-11-19 07:09] BhaskiBuzz opened #493 "detect-secrets not identifying all the secret occurrences in a file"
If the secret written into a file at multiple locations, only the first one being identified by detect-secrets. Remaining instances are not getting reported by detect-secrets.

Example code in demo.txt
1. secret="abcd"
2. random code
3. secret="abcd"

Now run the detect-secrets scan on the above file and observe that the issue will be reported only at the line 1 and it is not reported the line num

[2021-11-19 20:27] vrokida opened #494 "How exclude some keyword for KeywordDetector plugin"
Hello !

Please your help. I am using detect-secrets version "1.1.0" and I would like to know how I can exclude some Keyword. I see in the output of the command this:
[code]
 So,  I imagine there is a way to add values.

 Here the examples of false positives that I got
` db-password: anything`
 `service_account_secret_name: anything`

 Thanks in advance

[2021-12-01 11:01] BhaskiBuzz opened #495 "how to exclude the files in specific folder say "test""
Is there any way to exclude files from specific folder say "test"? if not, can it be added as enhancement?

[2021-12-02 09:11] nbraun-wolf opened #496 "pragma allow list comment is not always working"
Hi, I noticed that sometimes to allow list isn't working.  I have a case here where I store a dummy api key for local development in a .env file.

[code]

But the pre commit hook is marking this file as error.

[code]

[2021-12-06 14:55] rossgrady commented on #473
Like @KevinHock I'd like to apologize for the lack of comms from the IBM side -- we spent the year heavily focused on things like the Kyndryl spinoff (and then catching up on all the work that had been deferred by focusing on the Kyndryl spinoff).

We are now leaning back towards the opinion that rebasing on the 1.x re-architecture would be worth our time (it was a good re-architecture! Just gonna

[2021-12-07 01:03] wbreza opened #497 "detect-secrets-hook not recognizing --word-list argument with pre-commit framework"
**Version: 1.1.0** (also tested with 1.0.3)

[code]

I'm attempting to integrate additional arguments into my `.pre-commit-config.yaml` file.

A slim implementation is working with no issues

## Working

[code]

## Not Working
[code]

### Steps to reproduce

[code]

When I attempt to add additional argument such as the `--word-list` argument it fails with the following:

[code]

Oddly enough, if I

[2021-12-07 02:24] domanchi commented on #473
@rossgrady , if it helps, I would be open to having a conversation to better understand IBM's modifications, in order to brainstorm approaches for performing the migration. I've attempted to contact Yelp multiple times but have not heard back. Given this lack of official response, I can only conclude that this tool is probably (inadvertently) EOL.

Given that maintainers are a requirement for a he

[2021-12-07 11:22] #495 closed

[2021-12-07 12:18] killuazhu commented on #473
If IBM wants to keep sustaining the project with 1.x changes, we would need to
1. revisit the [rebase attempt](https://github.com/Yelp/detect-secrets/issues/473#issuecomment-888562855) @justineyster did earlier on
2. resolve #452 since Python 3.8 is not dying any time sooner.

[2021-12-07 16:51] rossgrady commented on #473
@domanchi @KevinHock Would y'all be open to meeting with our team in the week of January 10th to talk about all of the things Aaron mentions here? https://github.com/Yelp/detect-secrets/issues/473#issuecomment-987508529

We intend to continue contributing, we do think that rebasing on 1.x is the path forward, and we're open to whatever makes the most sense for the health of the project & the commu

[2021-12-07 16:55] wbreza commented on #497
@domanchi / @KevinHock - Any initial ideas why I be running into this issue with the pre-commit hook?

[2021-12-07 19:08] domanchi commented on #497
@wbreza : my reckoning is that the pre-commit hook doesn't think that this feature is enabled ([source](https://github.com/Yelp/detect-secrets/blob/b914bb656f71a9baf7c6b3a713d4a8a1eb8f4436/detect_secrets/core/usage/filters.py#L57)). This is an [optional feature](https://github.com/Yelp/detect-secrets#wordlist) that needs to be specified at install time, though I'm not sure how to specify that with

[2021-12-07 19:15] domanchi commented on #473
@rossgrady : SGTM. I'll shoot you an email with my contact information, and we can set something up.
@killuazhu : I recently saw a [promising PR](https://github.com/Yelp/detect-secrets/pull/482) that actually fixes that known issue.

[2021-12-07 19:20] domanchi commented on #491
@vrokida : not sure why it isn't working for you -- maybe check your network connections, or PyPI indexes.

This is my output when I attempt:

[code]

[2021-12-07 19:22] domanchi commented on #489
@fproulx-boostsecurity : great find! Thanks for reporting this. When we resolve our current issue with the lack of authorized contributors, hopefully we can resolve this issue.

[2021-12-08 16:38] wbreza commented on #497
@domanchi - Great tip!  Will let you know what I find out.

[2021-12-08 17:13] wbreza commented on #497
Figured it out.  Looks like the [detection for the word-list filter to be enabled](https://github.com/Yelp/detect-secrets/blob/b914bb656f71a9baf7c6b3a713d4a8a1eb8f4436/detect_secrets/filters/wordlist.py#L17) checks that the `ahocorasick` package can be loaded.

Based on the docs from [pre-commit framework](https://pre-commit.com/#pre-commit-configyaml---hooks) there is an optional configuration to

[2021-12-08 17:13] #497 closed

[2021-12-13 23:37] loadaverage commented on #491
Another story with enabling gibberish. I had `ModuleNotFoundError` exception while trying to use pre-commit with latest detect-secrets (v1.1.0):
[code]
Because gibberish_detector is an extra dependency, it could be installed with `additional_dependencies` of pre-commit hook:
[code]

[2021-12-14 03:08] rafaelsilvaa10 opened #500 "error in installation"
hello i'm getting this error when trying to run detect secrets:

[code]

[code]

installation
`pip3 install detect-secrets[word_list]`

Has anyone faced this error?

[2021-12-23 01:00] domanchi commented on #374
Hi all,

Realized I left this thread in an unfinished state.  As of mid-April, I lost write-access to this repository which inadvertently halted all development for this project.

We're currently trying to figure out [what's the future of this project](https://github.com/Yelp/detect-secrets/issues/473) to migrate it into a platform where development can continue again, but until then, I'd suggest

[2021-12-28 21:30] jamesliu4c commented on #496
We are also experiencing this.

[2021-12-30 21:09] Klutch27 commented on #496
Inline `# pragma: allowlist secret` also fails.

[2021-12-30 21:45] Klutch27 commented on #496
FWIW, in my case I just added it to the baseline by regenerating the file.

[2022-01-11 19:55] #374 closed

[2022-01-12 20:19] aulong-microsoft opened #502 "--force-use-all-plugins flag bug"
--force-use-all-plugins flag changes the baseline file every run, this does not seem to be optimal for users that are relying on the baseline not changing per iteration.

[2022-01-12 23:13] wbreza commented on #452
Any update on this feature? I'd like to leverage the latest features in v1.1.0 but this is a blocking issue for me.  Able to repro on Windows 10/11 with Python 3.7+

[2022-01-13 14:59] timzhang926 opened #503 "Wrong Line nubmer (acutal line nubmer -1) if the yaml file have something like: reource: {}"
Hi there,

Detect secrets is a great tool. I just used to use it in our product.
I can generate the .secret.baseline file. However, when the yaml file includes something line resource: **{}**, the line number is the actual number minus 1. The following file show line 9 (image)  has high entropy, actually it is line 10 (imageTag). Could you let me know which line could cause the problem? Thank you.

[2022-01-14 18:15] edthedev commented on #452
I'm also willing to help test when this is resolved, as I believe I still have an organizational 'how-to' document that has a pinned version that I would love to see removed.

[2022-01-23 21:47] KevinHock commented on #473
Hi @calvinli and @jpdakran,

Would it be alright if we moved detect-secrets to a separate GitHub organization? (e.g. https://github.com/detect-secrets-oss -- I just made that and I am agnostic to the name).

This way we could add folks from e.g. IBM and give them write access. As well as have a place to store the menagerie of separate but related detect-secrets repositories from IBM [[1](https://g

[2022-01-25 00:35] calvinli commented on #473
@KevinHock

Thanks, I'm working on this (it'll take a few days)

[2022-02-02 19:33] #452 closed

[2022-02-04 16:49] jpdakran commented on #503
I'm looking into this one. Should have a PR up shortly.

[2022-02-07 07:49] BhaskiBuzz opened #514 "unrecognized arguments: --word-list"
Hi Team,

I am trying to use --word-list argument like below. but it is saying the argument is unkown

[code]

detect-secrets --version: 1.1.0

[2022-02-07 07:51] BhaskiBuzz commented on #481
Hi @crazywifi ,

I am also trying to write custom filters. could you please share the filter.py you have written so that I can take it as reference.

Thanks in advance.

[2022-02-07 13:26] crazywifi commented on #481
Hello @BhaskiBuzz

I have created a tutorial on what I did to use the custom filter in the newer version of detect-secret.

https://lazyhacker.medium.com/how-to-add-a-custom-filter-in-the-detect-secrets-yelp-code-for-build-85f1df6d65f5

[2022-02-07 13:34] nightwatchcyber opened #515 "Doesn't work in mirrorred repositories"
When trying to scan a git repository checked out using `git clone --mirror`, detect-secrets fails with an error:

```fatal: this operation must be run in a work tree```

To duplicate, try the following:
[code]

[2022-02-07 20:33] #503 closed, assigned to nobody

[2022-02-16 10:25] eyalatox opened #520 "is_verified remains false even with result return with --only-verified flag"
Hello,

I've written the below simple plugin as a PoC, deliberately ensuring it is always verified to be true.
Yet, it never gets the is_verified field to be true.
Interestingly it does return when using the --only-verified flag.
Is that a bug, or am I missing something here?

[code]

[2022-02-17 08:05] kagahd commented on #483
Done 10 hours ago: https://github.com/Yelp/detect-secrets/releases/tag/v1.2.0

[2022-02-17 09:26] kagahd opened #522 "v1.2.0 does not find secrets that v1.1.0 had found"
For example, the following (fake) secrets were found by v1.1.0 which v1.2.0 is unable to find:
[code]

[2022-02-17 10:10] kagahd commented on #522
Sorry, my fault. My setup was wrong. Detect-secret v1.2.0 finds the secrets correctly. Issue can be closed or deleted.

[2022-02-17 10:10] #522 closed

[2022-02-17 17:42] KevinHock commented on #483
Thanks a bunch @jpdakran !

[2022-02-22 18:50] jpdakran commented on #475
CI moved to Github Actions - [CI](https://github.com/Yelp/detect-secrets/actions/workflows/ci.yml)

[2022-02-22 18:50] #475 closed

[2022-03-08 12:47] eran-medan commented on #520
It seems like a major regression, is_verified is not set in any place in the code anymore. (wasn't the case in 1.10). What happened??

[2022-03-18 20:22] ssiegel95 commented on #272
The FAQ states "Ensure the file encoding of your baseline file is UTF-8". I believe I have but I'm still seeing the issue. I'm doing this under WSL2 (linux).

[code]

[code]

[code]

[2022-03-23 08:39] adityakakrania opened #524 "Akamai tokens are not detected"
I have a file with Akamai tokens that are not being detected. The Akamai client secret is however correctly detected.

As defined here: https://developer.akamai.com/getting-started/edgegrid there are three types of artifacts that Akamai recommends secure storage for: Access Token, Client Token, and Client Secret.

In my code which is like:
akamai.clientSecret=+QpC0Dz80qk3nE**********94O4ntXqV8GRk8

[2022-03-23 09:38] adityak80 commented on #404
I am facing the same problem with PHP files, the following code is not caught by any of the plugins:
[code]

Even _'password'_ is not flagged by KeywordDetector unless one removes the single quotes around the word _password_.

[2022-03-28 08:20] chkumar77 opened #525 "Does not work, I'm getting EOF error."
Hi All,
I am getting below error, Can anyone help me out.

![image](https://user-images.githubusercontent.com/98515795/160356313-14ef2990-5e52-444c-a43c-da0db7cd5a4b.png)

[2022-04-06 22:12] lorenzodb1 commented on #514
Closing as I cannot reproduce the issue on version 1.2.0

[2022-04-07 18:25] lorenzodb1 commented on #494
Hello @vrokida, thank you for raising the question.

I believe you can add a regex in your baseline file to exclude those two keywords. Refer to the following snippet if you'd like to see how it would work
https://github.com/Yelp/detect-secrets/blob/70e6cf69f2d544a49729039a374d86d7b3e472d9/tests/plugins/keyword_test.py#L181-L194

[2022-04-08 19:07] lorenzodb1 commented on #479
Hi @js-truework, thank you for reporting this!

I pushed a tentative fix as part of #529. I'll go ahead and close this issue, but please let me know if the problem arises again.

[2022-04-08 19:07] #479 closed

[2022-04-08 21:28] mark-pictor-csec commented on #514
also seen with v1.2.0 installed from pip.
python 3.8, pip 22.0.4, osx

[2022-04-08 22:51] lorenzodb1 commented on #514
Hi @mark-pictor-csec! Thank you for reporting this. I was able to reproduce the issue and, therefore, I will reopen this issue and further investigate this issue.

[2022-04-11 15:05] mark-pictor-csec commented on #514
I did not. That seems to fix it, as `--word-list` now appears in the help output - haven't actually tested yet.

[2022-04-11 16:23] jpdakran commented on #514
Some documentation on the `word-list` feature: https://github.com/Yelp/detect-secrets#wordlist

[2022-04-11 16:27] #514 closed

[2022-04-11 17:16] mark-pictor-csec commented on #514
I read over that and somehow missed the required dependency; I also looked at the code but didn't see what the problem was. I'm a little surprised I didn't see something in the code, but then again python isn't a language I use much.

Would it be possible to check unrecognized args, and if `--word-list` is one, tell the user to install `pyahocorasick`?

[2022-04-11 18:04] lorenzodb1 commented on #514
@mark-pictor-csec thank you for your suggestion. We will look into that.

[2022-04-11 20:19] jlongland commented on #491
@vrokida [] I wager you're using zsh. It uses [square brackets for globbing / pattern matchin](http://zsh.sourceforge.net/Guide/zshguide05.html#l137)

This should work: `pip install 'detect-secrets[gibberish]'`

[2022-04-13 06:44] BhaskiBuzz commented on #514
Hi @lorenzodb1 @jpdakran I am able to use --word-list after installing the pyahocorasick package.
Thank you

[2022-04-13 16:41] jpdakran commented on #489
Closing as fixed in [526](https://github.com/Yelp/detect-secrets/pull/526)

[2022-04-13 16:41] #489 closed

[2022-04-26 12:38] ghost opened #549 "Jupyter Notebook Support"
I tried running detect-secrets against Jupyter Notebooks (.ipynb), but those files contain hashes of my interpreter.
Those hashes get flagged as high entropy string. Currently I exclude Notebooks for this very reason, but I would love to get those Notebooks still checked.
I use VS Code as IDE.
Opening the ipynb with a plain text editor shows the flagged line on the bottom of the file.
[code]

[2022-05-06 11:59] QSilver opened #552 "Performance issue scanning large files"
https://github.com/Yelp/detect-secrets/blob/e8426a428ef60f32193a02d0f1c2c1636336d63d/detect_secrets/util/code_snippet.py#L30

islice iterates through the array when slicing.
As this is called for every line in the file, it leads to O(n^2) and performance degradation for large files

Pyinstrument profiling output for 101MB file with itertools.islice:
12138 seconds

12138.581 <module>  <string>:1

[2022-05-09 12:05] cuong0993 commented on #302
Can we add this feature please?

[2022-05-18 22:22] dannysauer opened #554 "Helm (presumably any /* */) comments aren't supported"
Doesn't work:
`{{-     $password = index $split 1 }}{{- /* pragma: allowlist secret */}}`
Does work:
`{{-     $password = index $split 1 }}{{- /* # pragma: allowlist secret */}}`

This gives me teh sadz, but I figured I'd at lest document the workaround in an issue for future people. 🤷

[2022-05-24 19:51] OiCMudkips opened #557 "Test Pypi instance control"
Hi, I notice I was removed from Pypi maintainer list for this package which is probably correct. If anyone from Yelp feels like recovering the package on the [test Pypi instance](https://test.pypi.org/) please feel free to let me know.

https://test.pypi.org/project/detect-secrets/

[2022-05-25 19:12] #552 closed

[2022-05-25 21:08] JuanJTorres11 commented on #467
I have the same issue, it seems that the tool has a problem with the `|` character in a yml. While that is fixed, a quick workaround is to cath that Error to avoid the tool failing and not completing the rest of the audit.

[2022-05-27 15:20] AjkayAlan opened #559 "False Positive: AWS Access Key for aws:cdk:path"
## Background

I have been using detect-secrets and absolutely love it! Particularly, I use it via [checkov](https://github.com/bridgecrewio/checkov), which scans [AWS CloudFormation](https://aws.amazon.com/cloudformation/) templates (among other things). I am using the [AWS CDK](https://aws.amazon.com/cdk/) to generate my CloudFormation, which adds some metadata

## The Problem

Some CDK metadata

[2022-06-03 23:38] lorenzodb1 commented on #559
Hi @AjkayAlan! Thank you for your kind words and for reporting this issue. I believe one solution could be to change the regex to look for specific keywords on the left-hand side of the value-assignment statement (such as _key_, I think we already do this in other plugins). This should avoid that metadata to be flagged as sensitive.

@jpdakran do you have any thoughts about this?

[2022-06-07 11:14] MarkAmeryCurative opened #562 "detect-secrets 1.2.0 pre-commit hook errors out with "ModuleNotFoundError: No module named 'requests'""
I think this is a regression; I don't see this error with the 1.1.0 hook and I see that a similar issue (which I can reproduce) was reported in 1.0.0.

If I try to use this hook on my Ubuntu machine...

[code]

... then I get this error:

[code]

Not sure what information about my environment would be useful to aid you debugging this but am happy to answer questions!

[2022-06-08 02:57] AkatsukiPain opened #564 "How to disable multiple plugins in detect-secrets?"
I have tried to put the option like this: `--disable-plugin Base64HighEntropyString, HexHighEntropyString` but didn't work

[2022-06-08 02:58] #564 closed

[2022-06-09 18:16] klaerik commented on #549
Ran into this issue and was able to work around it with some line exclusions. Beyond the hash fields there's also the need to exclude the base64-encoded images and ids.

Here is an example from the `.pre-commit-config.yaml`:

[code]

[2022-06-16 18:13] jpdakran commented on #491
@vrokida Hello. Are you still experiencing this issue with the latest version of detect-secrets?

[2022-06-16 18:51] jpdakran commented on #467
Yes, this looks like to be an issue with multi-line secrets. As stated in the [README](https://github.com/Yelp/detect-secrets#caveats), multi-line secrets are not supported. I do agree that failures caused by this caveat should be caught and fail gracefully.

[2022-06-17 08:37] efimk-lu commented on #496
Hey, any update on this one?

[2022-06-17 12:08] jpdakran commented on #496
Hello @efimk-lu. We are currently in the process of creating a triaging plan for all issues that exist in this repository. I will make a note of this one and we will investigate further at our earliest convenience. Thank you for your patience.

[2022-06-20 11:13] MarkAmeryCurative commented on #562
Hmm. `requests` is definitely installed in the environment from which I run my Git commands. Originally I was running them with a virualenv enabled, but I tried killing that and just using pyenv without a virtualenv (but again with `requests` installed), and then finally tried using my system Python without pyenv enabled (again, with `requests installed`), and still got the same error every time.

[2022-06-21 03:48] AkatsukiPain opened #566 "Duplicated line are showing in the report"
I have created my own plugins. Then many duplicated lines are detected by the plugins. Is there any way to remove that one?

[2022-06-21 14:23] jpdakran commented on #404
After doing some investigation on this issue. The issue with the array declaration is valid. The `=>` operator is not picked up by the keyword detect. I have added [567](https://github.com/Yelp/detect-secrets/pull/567) to fix this issue.

With respect to the `const` secrets noted above. The first secret (`DB_TEST_PWD`) is detected. The second secret (`DB_PWD`) indeed is not detected. However this

[2022-06-21 17:42] jpdakran commented on #524
Hello, I am looking into the structure of these tokens. What I have gathered from the sources you have provided is that the structure should be:
`client_secret = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx`
`access_token = akab-xxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxx`
`client_token = akab-xxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxx`

This seems a little different from the examples you have given. Can you give mo

[2022-06-21 18:34] jpdakran commented on #562
@MarkAmeryCurative Can you please indicate more information on your configuration. Ubuntu version, pre-commit version etc? Have you tried on a different machine?

[2022-06-21 18:37] jpdakran commented on #525
@chkumar77 Hello. Can you please post more information regarding the action you are performing. The file you suspect is failing. Any reproducible steps will help us identify the issue and assist in fixing the bug.

[2022-06-22 08:16] MarkAmeryCurative commented on #562
Ubuntu 20.04, pre-commit 2.11.1, and haven't tried on a different machine.

[2022-06-23 12:07] KBiru opened #570 "scan_files method in SecretsCollection class with parallel processing issue"
If the scan_files method is called with multiple files using scan_files("file1", "file 2") blueprint, it has serious infinite looping issue. The exact error comes from parallel processing but the sub process spawning continues -
untimeError:
        An attempt has been made to start a new process before the
        current process has finished its bootstrapping phase.

        This probably means

[2022-06-23 18:28] AErmie commented on #274
❓ Are there still plans to produce an official Docker image that can be leveraged more easily in CI/CD pipelines? I took a look at @lirantal's repo/image, but it looks like the scheduled workflow is disabled because there hasn't been activity in that repository for at least 60 days, and the last image was published 5 months ago.

[2022-06-23 18:43] jpdakran commented on #460
@asdrubalos Hello. I just tested this on v1.2.0 and the secret is detected. Please validate.

[2022-06-23 19:02] #404 closed

[2022-06-23 19:02] #467 closed

[2022-06-23 20:03] jpdakran commented on #502
@aulong-microsoft Can you validate this is still an issue in v1.2.0. There was a fix in the latest release for not updating the baseline.

[2022-06-23 22:28] linuxshark commented on #274
Yeah,

This is my very first commit, sorry about the late reply.

https://github.com/linuxshark/detect-secrets-docker/blob/main/Dockerfile

This is a very simple Dockerfile creation, it works perfect, i will
document the functionality and implementations uses cases this weekend.

best,

El jue, 23 jun 2022 a las 14:28, Adin Ermie ***@***.***>)
escribió:

--
Raúl Linares
tlf Venezuela: +58412-556-9

[2022-06-23 22:28] linuxshark commented on #274
@AErmie here: https://github.com/linuxshark/detect-secrets-docker/blob/main/Dockerfile

[2022-06-24 17:09] jpdakran commented on #466
@ryan-lane @chenrui333 @brianbrownton Hello. Since https://github.com/Yelp/detect-secrets/issues/452 has been fixed. I have verified that install via homebrew works successfully and is able to scan on python 3.8. Any objection to closing this issue?

[2022-06-24 19:09] jpdakran commented on #496
Hi @jamesliu4c @Klutch27 @efimk-lu, which file types where you experiencing this issue with. Is it also the `.env`?

[2022-06-24 20:52] jpdakran commented on #433
@AIGeneratedUsername To scan in verbose mode try `detect-secrets -vv scan`

[2022-06-24 23:28] jamesliu4c commented on #496
Python and JavaScript for me and @Klutch27.

[2022-06-25 02:27] ryan-lane commented on #466
Nope, sounds good

On Sat, Jun 25, 2022, 1:09 AM John-Paul Dakran ***@***.***>
wrote:

[2022-06-26 08:22] efimk-lu commented on #496
@jpdakran I had a typo, so ignore my previous comment. Things are working

[2022-06-26 18:03] lirantal commented on #274
@AErmie I just re-enabled the workflows to build the images again on schedule :-)

[2022-06-26 21:16] AErmie opened #572 "❓ How-To Use JQ to Extract `.results` output"
I'm trying to work with the results output via [JQ](https://stedolan.github.io/jq/), but am having difficulty extracting the results.

All of the other outputs (ie. `plugins_used` and `filters_used`) are array objects, and easily referenced via JQ commands such as `.plugins_used[].name` or `.filters_used[].path`.

I'm struggling to reference any of the objects/values from the `.results` output sin

[2022-06-26 22:29] eddiez9 commented on #572
If you want the keys for results.

cat .secrets.baseline | jq -c -r '.results | keys[]'

[2022-06-27 15:49] jpdakran commented on #515
@nightwatchcyber Hello. Can you post some information regarding your environment setup? OS, detect-secrets version for example? I tried this on a Linux system and it seemed to work fine. V1.2.0 of detect-secrets

[2022-06-27 16:38] jpdakran commented on #494
That is correct. For example to filter keyword db_password which is being flagged. You can update your `.secrets.baseline` to:
[code]
and that secret will be excluded. This `keyword_exclude` property can hold a regex to exclude any keywords that match that specific regex.

[2022-06-27 19:06] ghilainm commented on #467
Is there any way to install some kind of snapshot/nightly of detect-secrets which include this fix?

[2022-06-27 19:09] jpdakran commented on #467
@ghilainm Not at the present time. We will have to wait until a new release of detect-secrets. This should be happening very soon. We will keep this point as a take-away to determine how we can ship fixes faster in the future.

[2022-06-27 19:40] #559 closed

[2022-06-27 20:13] jpdakran commented on #496
@jamesliu4c Can you post an example of a python or javascript file so I can attempt to reproduce. I have verified this is an issue for config files and this is because they go through an `IniFileParser` which stripes out comments that are on a new line. However for config files - the inline version `# pragma: allowlist secret` should work.

[2022-06-28 19:53] jpdakran commented on #435
@ExplodingCabbage @holyjak @jjneely @choman Can you please outline which file types you are seeing this issue in with an example snippet of the failing case. I am actively working on this issue and would like more test cases for verification. Thank you.

[2022-06-29 15:57] jpdakran commented on #566
@AkatsukiPain Is your intention to disable a plugin? You can use the following argument `--disable-plugin plugin` to disable a specific plugin.

[2022-06-29 16:14] jpdakran commented on #554
@dannysauer Hello, can you please let me know which file type this is in and some more context around the line in question.

[2022-06-29 20:18] jpdakran commented on #496
Closing this since the original issue for the `.env` file has been fixed. If you wish to reopen this issue with the other file types and secret context. I would be happy to investigate that further.

[2022-06-29 20:18] #496 closed

[2022-06-29 20:23] jpdakran commented on #411
@ferdose Hello. is this still an issue?

[2022-06-30 06:51] Grenston opened #577 "Azure Devops PAT is not detecting"
I am using this tool with azure devops pipeline.. but the tool does not detect Azure devops PAT as a secret

[2022-06-30 12:06] petercj1 commented on #435
I've just been experiencing this issue this morning. The file extension is .cfg (specifically, it is airflow.cfg). The offending line:

[code]

[2022-06-30 14:00] jpdakran commented on #435
@petercj1 What version of detect-secrets are you using?

[2022-06-30 14:10] petercj1 commented on #435
Ah, good question. It is 1.2.0

[2022-06-30 14:19] jpdakran commented on #435
Thats, interesting. I am running the same version and it seems to be filtering out fine. Can you tell me the output of:
`detect-secrets -v scan docker/config/airflow.cfg` and
`detect-secrets-hook -v scan docker/config/airflow.cfg`
Also in your `.pre-commit-config.yaml` can you post a snippet of your detect-secrets configuration?

[2022-06-30 16:36] jpdakran commented on #435
Ok couple things I'm noticing.
A) There are no [INFO] debug lines in your first snipped did you forget to paste those? In addition I am seeing the following debug lines in both command outputs:
[code]
B) The first command output verifies that the secret is filtered out? Which is what we want?
C) The second command output verifies that the secret is filtered out?
D) In your pre-commit config are yo

[2022-07-02 19:59] AErmie commented on #572
Hey @eddiez9 and @jpdakran, thanks for that example. It solves the issue partially (in that I can get the first-level item from the object array), but I still need to extract Key's array of objects, and their respective properties (ie. filename, line_number, etc.).

I would expect it to be relatively simple, but I'm stills struggling with it. I would expect it to be similar to `.results | keys[].f

[2022-07-04 01:53] nightwatchcyber commented on #515
Running v1.2.0 on MacOS 12.4

[2022-07-06 19:38] ttibbel commented on #562
Hi @MarkAmeryCurative, thanks for the additional information you've provided here. I haven't been able to reproduce this issue using Ubuntu 20.04, pre-commit 2.11.1, and detect-secrets 1.2.0 so I'm thinking this isn't an issue with detect-secrets itself. I'm going to close this issue for now but please feel free to re-open it if you (or anyone else) finds that this is indeed being caused by detect

[2022-07-06 19:38] #562 closed

[2022-07-07 21:25] ttibbel commented on #570
Hi @KBiru thanks for reporting this. I haven't been able to reproduce this issue on either macOS or Windows with detect-secrets 1.2.0. Can you confirm what OS you're using and the version of detect-secrets? Any other info you can provide to reproduce this issue would also be helpful. Thanks!

[2022-07-08 01:54] KBiru commented on #570
Hi, I am using v1.2.0 of detect-secrets and the OS is windows 10.
So, the problem occurs when we pass more than 1 file name as argument to the scan_files function of SecretsCollection class.

[2022-07-08 22:35] ttibbel commented on #570
Thanks for the additional information; I've been able to reproduce this issue on Windows 10 as well.

This issue is specific to Windows and is mentioned in the Python [multiprocessing documentation](https://docs.python.org/3/library/multiprocessing.html#the-spawn-and-forkserver-start-methods) (see the `Safe importing of main module` section). You'll need to make sure any Python scripts on Windows

[2022-07-10 15:27] KBiru commented on #570
Hi @ttibbel ,

Thank you for the resolution, this seems about right. I got it to work properly now.

[2022-07-10 15:27] #570 closed

[2022-07-14 17:55] hwine opened #580 "Exception when auditing multi-line secrets"
_[This appears to be a new flavor of #227]_

Scanning properly detects secrets in a multi-line yaml value, but the audit function raises a `ValueError` exception when trying to display the info.

<details><summary>sample yaml file</summary>
[code]
</details>

Steps to reproduce (with above yaml as `fail.yaml`):
[code]

[2022-07-14 18:13] jpdakran commented on #580
Hello, Thanks for reaching out. I have fixed this bug and it will be in the newest release of detect-secrets. The fix is related to catching this exception.

There is a deeper rooted issue here with the YAML File parser which I do have a work item to tackle very soon.

Please see https://github.com/Yelp/detect-secrets/issues/467 for more info.

[2022-07-14 18:13] #580 closed

[2022-07-15 04:04] hwine commented on #580
In case anyone wanders by before `detect-secrets` version later than 1.2.0 is released, there is a hacked version which allows `detect-secrets audit` to be run without error, and with visibility to the yaml multiline secret. This _is_ a hack, and clearly not the direction the `detect-secrets` team is headed, but it'll get you unblocked _today_.

- [tagged v1.0.2.00001](https://github.com/hwine/det

[2022-07-15 04:10] hwine commented on #467
@ghilainm @arisbee If you're desperate, and willing to take a hack from a stranger, see [this note](https://github.com/Yelp/detect-secrets/issues/580#issuecomment-1185151027).

[2022-07-15 14:24] jpdakran commented on #580
Hello All, I just wanted to jump in here and say thank you for your involvement in making `detect-secrets` a more enhanced and comprehensive tool. It is much appreciated. I do want to note that the `detect-secrets` team does not endorse any fork of `detect-secrets`. This is due to security implications that we do not have full awareness of.

I would like to mention that we are doing our best to up

[2022-07-15 14:50] lorenzodb1 commented on #580
Hi @hwine, thank you for proposing a way to unblock those who are waiting for the next release of `detect-secrets`. I came in just to make sure you and the whole community are aware that we always welcome new PRs that aim at improving the project, so feel free to open one if you'd like.

I also wanted to add that you could download the source code in our master branch and run that instead. This mi

[2022-07-15 16:01] hwine commented on #580
Thanks -- if there wasn't already work in flight, I would have opened a PR. But my hack required undoing some of the current work. :/ (The inflight work doesn't allow use of the audit function to mark the false positive as expected.)

Thanks for the team's efforts -- releases are hard! This is a extremely valuable project that I rely on daily!

[2022-07-19 07:29] AkatsukiPain commented on #566
I have used the `--disable-plugin plugin`  for the unnecessaries plugin. But my plugin and built-in plugin detect the same secret, so it's showing 2 lines in the report with the same result. I'm just wondering how to remove duplication like that.

[2022-07-22 07:02] franzramadhan opened #584 "detect-secrets scan --all-files returns ValueError: year 0 is out of range"
## Versions

[code]

## Details

I am trying to run `detect-secrets scan --all-files .` in my existing git repository but got following error.

[code]

Please let me know if you need further info or logs

[2022-07-27 05:43] KBiru commented on #577
Hi @ttibbel same thing happening, some pats are getting detected and some are not, not able to provide any details of the PAT for obvious reasons, but I think it is because of the entropy value in configuration, actually the detection of some of the pats are as Base64 High Entropy String, not as azure pat specifically.

[2022-07-27 19:32] tnbach3chan opened #587 "Cannot configure high entropy string option"
Hi team,

I am trying to lower string entropy index with the configuration below. However, it does not seem to work well. Could anyone help me with this problem?

[code]

[2022-07-27 22:46] eddiez9 commented on #572
@AErmie If you want the values

cat .secrets.baseline | jq -c -r '.results | values[][].filename'

[2022-07-28 12:20] ArisBee opened #588 "Json output format returns an array"
That's minor, but when I execute something like:

[code]

It will typically returns json objects within an array, for instance if there is no finding it will simply output `[]`. Couldn't it instead return a json object in between curly brackets `{}`?

[2022-07-28 18:10] benlindsay commented on #549
Thanks for sharing that @klaerik! That worked for me

[2022-07-31 13:35] JafarAkhondali opened #590 "--exclude-lines option regex bug"
create `main.yml` with following content:
`checksum: 4b8154b4b1b9ab9de64187d8c4fb4a41`

running: `detect-secrets -C . scan --all-files  --exclude-lines "checksum"` ignores the report, which is right.
But running a more detailed regex fails to ignore the report:
`detect-secrets -C . scan --all-files  --exclude-lines "checksum: [a-f0-9]{32}"`

Is this a bug or am I missing something?

version: 1.3.0

[2022-08-03 11:58] laurivosandi opened #595 "Improved Kubernetes experience"
Currently `detect-secrets` considers `secretName` values in Kubernetes manifests as secrets, whereas they are actually merely names of the secrets.

Also looks like line numbering gets messed up with multi-line scalar values https://yaml.org/spec/1.2-old/spec.html#id2795688

[2022-08-22 13:35] Pikabanga opened #602 "detect-secrets scan on Windows generates different file paths than on Linux"
When running `detect-secrets scan > .secrets.baseline` on windows, the resulting JSON has file paths in Windows style (`\` instead of `/`). This causes issues when you try to run `detect-secrets hook` in a pipeline in a Linux machine (it will not recognize any secrets as part of the baseline).

Example json from running `detect-secrets scan > .secrets.baseline` on windows:

[code]

and on Linux:

[2022-08-23 11:02] KBiru opened #603 "Verify function is not getting called, i.e. the the interpreter never goes to verify function."
Hi,

I have made a custom plugin (a simple regex based just to understand about a custom plugin) and added the verify function for verifying. But for some reason the verify function is never getting invoked. As far as I know the util functions like verify gets invoked automatically if present, don't know if I am missing something here. I am not even getting the print output, see the code snippet b

[2022-08-23 19:29] jsoref opened #604 "FileNotFoundError in `LineGetter.open_file`"
We had a secret referencing a file in the secrets baseline, and then that file was deleted, the next time detect-secrets (v1.2.0) ran, it crashed with:

https://github.com/Yelp/detect-secrets/blob/70e6cf69f2d544a49729039a374d86d7b3e472d9/detect_secrets/audit/common.py#L146-L148

https://github.com/Yelp/detect-secrets/blob/70e6cf69f2d544a49729039a374d86d7b3e472d9/detect_secrets/audit/common.py#L156

[2022-08-25 21:38] HelloGit-ty opened #605 "No proper documentation regarding the plugin and context variable in filters"
Hey, it's not exactly a code issue but more of a info lack. So I'm making a custom filter with ML and keyword match to reduce FPs since I'm using a low base64 entropy value (3.0).

Now I need the name of the plugin which finds the secret so I'm using the plugin variable and the documentation is really lacking in that area. It took me a day to scour the code and understand exactly how to use it. Bu

[2022-08-27 04:57] OVERPEY commented on #333
i have the same problem but on scan command . should i open  new Issue ?

[2022-08-27 13:38] OVERPEY opened #606 "Windows file not found"
im receiving the following error message, on windows 10 :

Traceback (most recent call last):
  File "C:\Python310\lib\runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Python310\lib\runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "C:\Python310\Scripts\detect-secrets.exe\__main__.py", line 7, in <module>
  File "C:\Python310\l

[2022-09-04 09:14] maxamel opened #608 "is_likely_id_string filter creates false negative in key scanning"
Hello,
The following filter creates a FN for us:
https://github.com/Yelp/detect-secrets/blob/e61b9f988ce43abbe49aafa43d819fa88596a346/detect_secrets/filters/heuristic.py#L78

The scanned secret we have in Dockerfile:
`ENV aws_access_key_id=AKIA4NACSIJMDDNSEDTE`

The secret itself would correctly trigger the aws plugin but the is_likely_id_string causes it to be missed.
Perhaps at least some of the

[2022-09-05 16:01] saintmalik opened #609 "Git Hook Config"
hello there

please is it possible to add args of '--all-files' to the git hook config

detect-secrets is skipping files with ".txt" files

see here

[code]

[2022-09-09 20:33] steamraven opened #611 "audit fails with custom plugin"
When running detect-secrets audit against a baseline created with a custom filter, I get a python error

[code]
[code]

Relevant sections of .secrets-baseline
[code]

This appears to be a  problem with the lru_cache on "get_mapping_from_secret_type_to_class" in detect_secrets.core.plugins.util.  Removing the lru_cache allows this to work, but slowly

[2022-09-15 18:49] syn-4ck opened #613 "Add Discord Bot Token plugin"
## Motivation

Discord is a free voice, video, and text chat app that's used by tens of millions of people around the world. One of the pros of this platform is the use of bots to automate a lot of tasks in the `Text chat`.

I suggest to add a Discord Bot token plugin detector to find this tokens in repositories. GitGuardian metrics reports 2.74 `Discord Bot tokens` per million commits.

## Exampl

[2022-09-15 22:01] lorenzodb1 commented on #613
Hi @syn-4ck, thank you for bringing this idea forward. We're looking forward to seeing your PR 😄

[2022-09-16 17:16] lorenzodb1 commented on #611
Hi @steamraven, thank you for bringing up this issue you encountered. Since it seems to be related to a custom plugin you created, could you provide us with more info about it? This would help us debug and understand what the underlying problem is.

[2022-09-16 17:19] lorenzodb1 commented on #609
Hi @saintmalik, thank you for reporting this issue to us. We'll take a look at it in the next few days and let you know when we have updates about it.

[2022-09-16 17:38] lorenzodb1 commented on #606
Hi @OVERPEY, thank you for bringing up this issue. In order for us to better review it, could you please tell us if you had an existing baseline file present before incurring in this error? Have you tried running our current unit tests? If yes, do those pass? Could you also try using previous versions of detect-secrets and see if the same error occurs?

[2022-09-16 17:49] lorenzodb1 commented on #604
Hi @jsoref, thanks for bringing up this issue to us. We will take a look at this issue in the next few days and keep you posted on it. Stay tuned!

[2022-09-16 17:55] lorenzodb1 commented on #603
Hi @KBiru, thank you for bringing up this issue. When working on the 1.3.0 release, we fixed a bug related to the verify function, so I will ask you if you could kindly retest this issue on the latest detect-secrets version and let us know if this is still applicable.

[2022-09-16 17:58] lorenzodb1 commented on #602
Hi @Pikabanga, this issue seems to PR #586. I'll add this reference in here and keep you posted on the status of that PR.

[2022-09-19 16:37] steamraven commented on #611
I have replicated with a minimal plugin:

minimal.py:
[code]

With just this file in a directory:
`$ detect-secrets scan --all-files --no-verify --plugin minimal.py | tee .baselin
e`

Then
`$   detect-secrets audit .baseline --report`

[2022-09-19 16:40] steamraven commented on #611
Also, with my more useful plugin.  This does not seem to be plugin specific, but a race condition in the code to search for plugins themselves.

ip_detector.py:
[code]

[2022-09-20 18:12] jpdakran commented on #604
@jsoref Hello. I just tested deleting a python file which had existing secrets in the baseline file. This ran fine and the secrets were deleted from the baseline file. Can you provide more information on the file you deleted?

[2022-09-21 09:32] KBiru commented on #603
Hi @lorenzodb1 thank you for your response, I have checked it out but still the verify function does not get invoked. The example plugin code I have mentioned earlier is the same. Please let me know if I ma missing something. Also before testing out I have checked the tool version and it is 1.3.0.

[2022-09-21 21:38] lorenzodb1 commented on #488
Hi @DariuszPorowski, thank you for bringing up this idea! We're having a hard time finding an easy way to convert our results to SARIF or even any more specific documentation on how we could use [**microsoft/sarif-python-om**](https://github.com/microsoft/sarif-python-om) to achieve that. Since you're part of Microsoft, I assume you have some knowledge around SARIF, so would you be able to help us

[2022-09-22 15:04] jpdakran commented on #611
@steamraven Hello. I do not think this is a race condition - however I do think there is a bug related to some recent changes. Can you tell me if in your baseline file that you are auditing has any of the following secret types:
- AWS Access Key
- Cloudant Credentials
- IBM COS HMAC Credentials
- SoftLayer Credentials

[2022-09-22 15:42] jpdakran commented on #603
@KBiru Hello. I just tested your code and I do see the verify function getting called. Please find the steps I took to triage your ticket:

A) Do you have a bearer token in your repo that should be detected?
I updated your plugin with a bearer token:
`token = "Bearer 11111111-1111-1111-1111-111111111111"`

B) I proceeded to run detect-secrets on the file that I knew the bearer token existed:
`dete

[2022-09-22 16:45] jpdakran commented on #590
@JafarAkhondali Hello. Excellent question. Are you familiar with the detect-secrets concept of [transformers](https://github.com/Yelp/detect-secrets/blob/master/docs/design.md#transformers)? We use a yaml file transform for enhanced parsing. So what you have above is actually transformed into:

`checksum: "4b8154b4b1b9ab9de64187d8c4fb4a41"`

Therefore your regex does not match. If you update your

[2022-09-22 17:06] jpdakran commented on #588
Hello @ArisBee. Is there a reason you want this enhancement? The functionality of the audit report is to display a list of secret values which is why it returns an empty list.

[2022-09-22 17:46] ArisBee commented on #588
That makes it easier for automated parsing. Now I have to define an exception when nothing is found.

[2022-09-22 17:47] lorenzodb1 commented on #588
As I mentioned internally, I fully support this enhancement 😄

[2022-09-22 17:47] jpdakran commented on #588
@ArisBee Do you want it only in the nothing found case Ex. `{}`. Or just in general?

[2022-09-22 17:51] lorenzodb1 commented on #588
I would add it in general for consistency. Something like
[code]

[2022-09-22 19:20] #588 closed

[2022-09-22 19:42] jpdakran commented on #572
Thanks @eddiez9 for the clarification. This looks to be resolved. If there are any additional queries - feel free to open a new issue.

[2022-09-22 19:42] #572 closed

[2022-09-22 19:44] steamraven commented on #611
That pr does not fix it.

I generated a baseline using the minimal.py plugin on a folder containing just the plugin itself.  The only secrets are "Secret Keyword" and "Nothing".

Specifically, the plugins secret type IS in the baseline.  It appears audit will fail with ANY external plugin secret type.

As I said above, commenting out the lru_cache at https://github.com/Yelp/detect-secrets/blob/57c

[2022-09-22 19:45] steamraven commented on #611
Here is my baseline:

https://gist.github.com/steamraven/8005a93f539ebb9fa25ece4ac9d7a878

[2022-09-22 20:10] steamraven commented on #611
main.parse_args calls ParserBuilder.add_console_use_arguments
add_console_use_arguments  adds   baseline.parse_args to self._post_processors

# Note that baseline.add_baseline_option is called on the "scan" subparser, but the baseline.parse_args is added to the parent, so there is no way to add a "--baseline" option to the audit invocation as far as I can tell

main.parse_args calls ParserBuilder.

[2022-09-22 20:48] #608 closed

[2022-09-23 12:11] garry-t opened #622 "datect secret audit doesnt work"
After I generated baseline file i got around 100 entries in file. I know that some of them are secrets.
When I run audit it produce error, cant figure out what is the problem.
I used latest version 1.3.0
[code]

[code]

[2022-09-23 17:11] lorenzodb1 commented on #622
Did this fix the issue?

[2022-09-23 17:21] garry-t commented on #622
no)

[2022-09-26 09:15] KBiru commented on #603
Yes you are right @jpdakran, but I am facing the issue while using it in python script <transient_settings> part to add it as custom plugin, the secrets get detected but the verify() function never gets invoked. Please let me know if any more details are required.

[2022-09-26 14:25] jpdakran commented on #603
Can you please post the python script you are using so I can attempt to reproduce the issue you are seeing?

[2022-09-26 14:48] Chandra158 commented on #609
Hi @saintmalik , I'm unable to reproduce this issue. Please see below logs for details.

Could you please provide detailed steps to reproduce (a minimal MVC would be ideal).

- Terminal output with a sample **.txt** file ( _private_key_2.txt_ ):
[code]

[2022-09-26 15:44] jpdakran commented on #603
@KBiru I see the problem. To invoke the verify functionality - the `detect_secrets.filters.common.is_ignored_due_to_verification_policies` must be enabled. Please find sample python script below.
[code]

[2022-09-26 16:59] #613 closed

[2022-09-27 14:50] jpdakran commented on #604
@jsoref Can you please some more information regarding "the next time detect-secrets (v1.2.0) ran"? - Can you explain what command you are running when running detect-secrets? Is it pre-commit or CLI?

[2022-09-27 18:15] jpdakran commented on #590
Thanks for your question. I will consider this resolved. If you have any other questions or you do not consider this resolved - please re-open an issue. Thanks!

[2022-09-27 18:15] #590 closed

[2022-09-27 18:17] jpdakran commented on #603
Hi @KBiru - Can you please confirm this solves your issue?

[2022-09-27 18:26] jpdakran commented on #494
Thanks for your question. I will consider this resolved. If you have any other questions or you do not consider this resolved - please re-open an issue and the team will be happy to assist. Thanks!

[2022-09-27 18:26] #494 closed

[2022-09-27 18:58] jpdakran commented on #484
Thanks for your question. I will consider this resolved. If you have any other questions or you do not consider this resolved - please re-open an issue and the team will be happy to assist. Thanks!

[2022-09-27 18:58] #484 closed

[2022-09-27 19:44] jpdakran commented on #460
Retested with v1.3.0 and the secret is detected. I will consider this resolved. If you have any other questions or you do not consider this resolved - please re-open an issue and the team will be happy to assist. Thanks!

[2022-09-27 19:44] #460 closed

[2022-09-27 19:58] jpdakran commented on #456
@acdha Hello. Can you please retry this in v1.3.0?

[2022-09-27 20:43] jpdakran commented on #622
@garry-t Can you post a snippet of the `.circleci/config.yml` file that is failing?

[2022-09-27 21:10] garry-t commented on #622
sorry I cant, there are a lot of confidential info.
But string 141 it is slack webhook url `https://hooks.slack.com/services/[A-Z][0-9]/[A-Z][0-9]/[0-9]`

[2022-09-27 22:15] lorenzodb1 commented on #622
@garry-t could you then provide us with a mock `.circleci/config.yml` (i.e. without any of your info) that we could still use to reproduce the issue?

[2022-09-28 02:59] jsoref commented on #604
We're using https://github.com/secret-scanner/action/ to wrap detect-secrets.

The code in question is roughly:
https://github.com/secret-scanner/action/blob/33d6b0b0b5f0cd113651222c196e07799d2c3d21/detect-new-secrets.sh#L30-L33

It's possible that the first detect-secret command (`scan`) failed and the second (`audit`) ran and failed (and that it perhaps shouldn't have been run if the first faile

[2022-09-28 05:43] KBiru commented on #603
Hi @jpdakran yes it did work. I think the documentation needs to be updated a little bit. It was very confusing, thanks a lot for helping out.

[2022-09-28 07:20] garry-t commented on #622
let me try

[2022-09-28 14:15] jpdakran commented on #603
I'm glad it worked. I actually just found this specific solution in the documentation - https://github.com/Yelp/detect-secrets/blob/master/docs/plugins.md#verified-secrets. I will take this feedback and try to make the docs more visible to the community.

[2022-09-28 14:15] #603 closed

[2022-09-28 15:27] garry-t commented on #622
Mocking file on 1000 strings hard job. Not sure how to properly mock it and preserve structure

[2022-09-28 15:38] jpdakran commented on #622
@garry-t I am mainly curious of the structure around the failing secret. I do not need a full mocked file.

[2022-09-28 20:33] jpdakran commented on #520
Hello. I have re-tested this with your custom plugin above. This is fixed. I will consider this resolved. If you have any other questions or you do not consider this resolved - please re-open an issue and the team will be happy to assist. Thanks!

[2022-09-28 20:33] #520 closed

[2022-09-28 20:41] jpdakran commented on #492
Hello. You can use the `--exclude-files` filter. This can be done via the CLI using the `--exclude-files` argument which accepts a regex. Or you can use the same filter in the `.secrets.baseline` file under the following filter with your custom file path regex:

[code]

[2022-09-28 20:58] jpdakran commented on #372
This has been fixed with #373. I tested the above file and this runs in 0:00.42.  I will consider this resolved. If you have any other questions or you do not consider this resolved - please re-open an issue and the team will be happy to assist. Thanks!

[2022-09-28 20:58] #372 closed

[2022-09-29 09:14] meeragirijan opened #623 "exclude-secrets option is not working as expected"
We are trying to avoid disabling the plugin "keyword-detector" and use exclude-secrets option as part of the scan to exclude words that contain "secret" specifically. I have tried multiple regex variations to include this substring, which was validated through regex compilers, but we still get the JSON generated with these values tagged as secrets.  What is the right approach to achieve this?

[2022-09-29 12:21] garry-t commented on #622
@jpdakran
[code]

141 string it is this one SLACK_PAYMENT_TOKEN: 'https://hooks.slack.com/services/REAL_ID/REAL_ID/NUMBERS’

[2022-09-29 14:44] jpdakran commented on #622
@garry-t Ok I was unable to reproduce it. Looking at the original query - is it failing on the secret at line 5 or line 141 of .circleci/config.yml? How many secrets are in that file?

[2022-09-29 15:25] jpdakran commented on #623
Hello. Thank you for your question. Using the `--exclude-secrets` here is probably not the right approach. This will only filter according to the actual secret value - not the keyword (variable name).

What you probably want to use is the `--exclude-lines`. This will look at the entire line the secret is on. Therefore it will look at keyword, secret, and all text on that line.

[2022-09-29 15:37] garry-t commented on #622
I added file to exclude.

Originally I gave only part with env variables where is problematic string. all other staff above and below section omitted.
I think issue can be closed sine workaround found.

[2022-09-29 18:07] jpdakran commented on #500
@rafaelsilvaa10 Python 3.5 has been end of life since 2015. Can you test with an updated version of python and updated version of detect-secrets?

[2022-09-29 18:18] jpdakran commented on #491
Closing due to no further updates provided. If you have any other questions or you do not consider this resolved - please re-open an issue and the team will be happy to assist. Thanks!

[2022-09-29 18:18] #491 closed

[2022-10-03 04:00] meeragirijan commented on #623
I have tried the same with --exclude-lines as well but I get the same result as the json. Is it possible that there is a specific way the regex is being evaluated ?

[2022-10-03 07:43] meeragirijan commented on #623
I tried with a different regex and it seems to be working now with --exclude-lines option

[2022-10-03 11:38] meeragirijan commented on #623
Using this with windows agent throws an exception on the same agent that this path is unavailable. Whereas when we run it wothout this option --exclude-lines it seems to work fine. Does this option have any specific version?

[2022-10-05 18:08] Chandra158 commented on #605
@HelloGit-ty

You just need to declare the needed variables in the filter arguments and it'll be available ([refs](https://github.com/Yelp/detect-secrets/blob/master/docs/filters.md#Writing-Your-Own-Filter)). FWIU, you're on the right track and might just be missing some minor details. (`pluging.secret_type` is the correct variable to get the filter's class name)

Please see below sample.

[code]

[2022-10-05 18:54] HelloGit-ty commented on #605
Will give this a try and let you know. Thank you!

[2022-10-13 20:24] dannysauer commented on #554
I'm not sure what else to say, @jpdakran :)

This was in a helm template file (so, Go template format).  That templating language allows for basically C-style delimited comments.  I have a variable called password which gets populated by an element from an array.  The detect-secrets parser does not recognize the delimited comments; specifically it does not recognize the `/*` marking the beginning

[2022-10-13 20:26] dannysauer commented on #554
Granted, the "line above" mechanism could work with `# pragma ...`.  However, in this case, what would actually happen is that the variable being defined would not show up in the emitted YAML  It's used later; that line doesn't print anything.  But the YAML comment line would show up in the template.  So the generated YAML in the k8s manifest would have a weird comment which does not apply to the

[2022-10-17 07:16] KBiru opened #626 "Large File is not getting Scanned (Skips a substantially large file)"
Hi Team,

I have a file with 3275747 no. of lines in it and it is of 170 Mb size. When I do the scan for a single file it skips the entire file in just about mere seconds. Is there a limit to lines or size of the file that detect-secrets can scan?

Using the python package of the detect-secrets (python 3.10)
detect-secrets version = 1.2.0
OS = Windows 10

Please let me know if I am missing somethi

[2022-10-20 18:35] nuztalgia opened #627 "DiscordBotTokenDetector failing to detect some Discord bot tokens"
Hello! I was trying out the `DiscordBotTokenDetector` and noticed that it wasn't flagging some tokens (i.e. it's producing **false negatives**).

## Examples:

- `OTUyNED5MDk2MTMxNzc2MkEz.YjESug.UNf-1GhsIG8zWT409q2C7Bh_zWQ`
- `MTAyOTQ4MTN5OTU5MTDwMEcxNg.GSwJyi.sbaw8msOR3Wi6vPUzeIWy_P0vJbB0UuRVjH8l8`

(These example tokens are slightly fudged and I've also invalidated the unfudged versions, so ther

[2022-10-21 21:44] syn-4ck commented on #627
Hi @nuztalgia,

I am the first contributor of this plugin... Nice catch! When I decided to propose this changes I check the official documentation and some personal tokens, and in both of cases the regex matches. In many cases, is better be more restrictive and detect some of them than not have the plugin 😆

Reading your issue description, it makes sense, so thanks for improve it!

Regards!

[2022-10-22 12:34] JafarAkhondali opened #629 "Golang false positive"
Detect-secrets create false alarm for following content(golang):

test.go:
[code]

[code]

[2022-10-22 18:48] nuztalgia commented on #627
@syn-4ck - Thanks so much for the nice comment and for contributing the plugin! I absolutely agree with you ❤️ What's interesting is that your original regex worked perfectly for all of the older bot tokens I had saved. The specific "false negative" examples in the issue description are based on tokens that were generated in the past month or so (if I'm remembering correctly). So it could very wel

[2022-10-24 19:10] nada-lives opened #630 "Permanent Allowlisting for specific values?"
Good day,

Is there a way for me to create a whitelist / permanent allow list for values I want detect secrets to always ignore?

As an example if I have a file that I use for local dev, and it makes use of a password can I add it to a whitelist as opposed to always having to inline` //pragma: allowlist secret ` after it? Is this something that I could add to the `.secrets.baselinse `after it is g

[2022-10-25 13:26] #630 closed

[2022-10-29 15:46] oerp-odoo opened #632 "Incorrect Line in Yaml for false positive"
My yaml file starts with this content:

[code]

detect-secrets throws:

[code]
Saying potential secret is on line 11, but its actually on line 8. I found similar issue here: https://github.com/Yelp/detect-secrets/issues/503

P.S. Using `v1.4.0`.

[2022-11-03 17:52] pvinis opened #633 "What's the best way to generate a standalone executable for `detect-secrets`?"
Working with python on many machines for many devs and ci is very clunky. Is there a way to build a standalone executable for this project?

[2022-11-06 19:55] clonejo commented on #632
For one of my yaml files, `scan` even gives line numbers that are higher than the total number of lines. When running `audit`, the secret is be displayed in cleartext, but it then crashes when trying to find and highlight the code snippet with the secret (#634).

[2022-11-11 12:13] KBiru commented on #626
Hi @lorenzodb1 @jpdakran Any idea on this issue? I am unable to scan. Just want to understand if there is a limit to something like file lines or size. Thanks

[2022-11-14 20:18] cybersholt commented on #606
Having the same issue with:
detect-secrets: 1.4.0
OS: Windows 10 Pro
OS Build: 19043.2251

I created the baseline first as outlined in the docs, I have not tried the unit tests yet.

## detect-secrets audit .secrets.baseline
[code]
## pip show detect-secrets
[code]

## pip debug
[code]

[2022-11-14 21:29] cybersholt commented on #606
Following up regarding this: I managed to get it working with WSL which happened to have python 3.8 on it, the error message produced gave me a hint on how to fix it specifically: **UnicodeDecodeError: 'utf-8' codec can't decode byte 0xfe in position 0: invalid start byte**

Turns out that the file generated by the Windows version had the character encoding set to UTF-16 BE BOM, not sure why I'm o